### Public Data Portal Tutorial

Secret Key, Base Url

In [1]:
SERVICE_KEY = r'y%2BYI%2F3eYALrp6Z4%2Ff%2FoPhqKdk6hRwGfJqfxHVj98JuneHV6EeE5NqPEWVdsnmd2Rs4LJv9hFoJhOgNbB6E0TBQ%3D%3D'
BASE_URL = 'http://apis.data.go.kr/1300000/MJBGJWJeopSuHH3/list'

Import libraries

In [2]:
import requests
import numpy as np
import pandas as pd
from bs4 import BeautifulSoup as bs
import xmltodict
import json

Get Data From API

In [3]:
def getData(pageNo):

    # init setting
    baseUrl = 'http://apis.data.go.kr/1300000/MJBGJWJeopSuHH3/list'
    serviceKey = 'y%2BYI%2F3eYALrp6Z4%2Ff%2FoPhqKdk6hRwGfJqfxHVj98JuneHV6EeE5NqPEWVdsnmd2Rs4LJv9hFoJhOgNbB6E0TBQ%3D%3D'
    numOfRows = 1000
    
    # get request
    endPoint = f'{baseUrl}?pageNo={pageNo}&numOfRows={numOfRows}&ServiceKey={serviceKey}'
    response = requests.get(endPoint)
    if (response.status_code !=200):
        raise Exception('Invalid Error')

    # xml to json
    data_dict = xmltodict.parse(response.text)
       
    return data_dict

Get Sample Data

    There's 866 rows    
    
    So that to get all data, it's sufficient to get page 1 with parameter numOfRows 1000

In [4]:
sampleData = getData(pageNo=1)
print(f"Total Elements : {sampleData['response']['body']['totalCount']}")

Total Elements : 866

Parsing Data

- mojipYy : 모집년도
- iyyjsijakYm : 입영시작월
- mojipYy : 모집년도
- gsteukgiCd : 군사특기명
- seonbalPcnt : 선발인원수

In [5]:
df = pd.DataFrame(sampleData['response']['body']['items']['item'])
print(f'Dataframe has shape with {df.shape[0]}')
df.head()

Dataframe has shape with 866

,extremes,gsteukgiCd,gsteukgiNm,gunGbnm,iybudaeCdm,iyyjjongryoYm,iyyjsijakYm,jeopsuJrdtm,jeopsuPcnt,jeopsuSjdtm,mojipGbnm,mojipTms,mojipYy,rate,rnum,seonbalPcnt
0,88,A001,동반입대병,육군,7사단,202305,202305,20230206,202,20230130,동반입대병,2,2023,1.8,1,114
1,84,A001,동반입대병,육군,12사단,202305,202305,20230206,200,20230130,동반입대병,2,2023,1.7,2,116
2,86,A001,동반입대병,육군,15사단,202305,202305,20230206,200,20230130,동반입대병,2,2023,1.8,3,114
3,90,A001,동반입대병,육군,21사단,202305,202305,20230206,200,20230130,동반입대병,2,2023,1.8,4,110
4,170,A001,동반입대병,육군,1사단,202305,202305,20230206,288,20230130,동반입대병,2,2023,2.4,5,118

Save Raw Data

In [6]:
df.to_csv("raw_data.csv", index=False)